pkgbase = vetto
	pkgdesc = Daemon-less sandbox and audit layer for AI coding agents
	pkgver = 0.3.4
	pkgrel = 1
	url = https://github.com/shleder/vetto
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = cargo
	provides = vetto
	conflicts = vetto
	conflicts = vetto-git
	source = vetto-0.3.4.tar.gz::https://github.com/shleder/vetto/archive/refs/tags/v0.3.4.tar.gz
	sha256sums = e2bd47c7acd0df3026e0c6f5a2355a1fca67d5c71fefdaf7e2819b2dc42a4ffb

pkgname = vetto
